.header {
    display: flex;
    flex-direction: row;
    background-color: rgb(64,65,73);
    justify-content: center;
    text-decoration: none;
    height: 25px;
}

.header li {
    padding-right: 50px;
    padding-top: 3px;
    text-decoration: none;
    list-style: none;
}

.header a {
    text-decoration: none;
    color: rgb(208,204,205);
}

.header a:hover {
    color: rgb(66,140,129)
}